.card {
    
    &__item {
        border-radius: var(--borderRadius);
        overflow: hidden;
        box-shadow: var(--cardBoxShadow);
        .new {
            color: var(--green);
            font-weight: 500;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &_image {
            width: 100%;
            height: 100%;
            min-height: 176px;
            max-height: 178px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            @media (min-width: 992px) {
                max-width: 294px;
                height: 100%;
                width: 100%;
            }
            img {
                max-width: 100%;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &_label {
            border-radius: var(--tagsBorderRadius);
            background-color: var(--bg-color);
            width: fit-content;
            padding: 6px 10px;
            font-size: 12px;
            color: var(--gray);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px;
            
            &:first-of-type {
                margin-left: 0;
            }
            svg {
                margin-right: 4px;
                margin-top: -1px;
            }
            &s {
                display: flex;
                margin-top: 16px;
            }
        }
        &_promotion {
            border-radius: var(--borderRadius) 0;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            width: 54px;
            height: 34px;
            background: var(--red);
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                fill: var(--white);
            }
            color: var(--white);
            font-weight: 300;
            font-size: 14px;
            &--gift {
                background-color: var(--blue);
            }
            &--percent {
                background-color: var(--red);
            }
            &--onePlusOne {
                background-color: var(--purple);
            }
        }
    }
    &__footer {
        padding: var(--cardPadding);
        background-color: var(--white);
       
        h3 {
            font-size: 14px;
            font-weight: 600;
            color: var(--gray-dark);
        }
    }
    &s__wrapper {
        display: grid;
        gap: 24px;
        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}