@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    margin: auto;
    background: rgb(255, 255, 255);
    display: block;
    shape-rendering: auto;
    animation: rotate 1s linear infinite; /* Adjust duration and timing function as needed */
  }
  